.grid-container {
  display: grid;
}

/*  Header  */
.box1 {
  background-color: #437a84;
}
.box1 h1 {
  color: #ffb517;
  background: #437a84;
  letter-spacing: 0.1em;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a,
    0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222,
    0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a,
    0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212,
    0 22px 30px rgba(0, 0, 0, 0.9);
  padding: 20px;
  text-align: center;
}

/* Main block with form */
.box2 {
  background-color: #128312;
  color: white;
}
.right_block {
  background-color: #7af77ab2;
}
.container_blue {
  display: grid;
  grid-template-columns: 50% 25%;
  /* gap: 10px; */
  justify-content: space-around;
  text-align: center;
  align-content: center;
  height: 500px;
}
.container_blue > div {
  padding: 20px 0;
}
.left_block a button {
  width: 250px;
  padding: 10px;
  background-color: #182ef1;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 5px 1px 15px 0.5px #000000;
  transition: all 1s ease;
}

.left_block a button:hover {
  background-color: #0d1454;
  box-shadow: none;
  transition: 2s ease;
  transform: translate(0, 2px);
}

.right_block {
  display: grid;
  height: 350px;
  text-align: center;
  align-content: center;
  margin: auto 0;
  color: #000000;
  border-radius: 10px;
}
.right_block h3 {
  color: rgb(255, 15, 15);
  text-decoration: underline;
}
.right_block > form {
  display: grid;
  grid-template-rows: auto auto auto auto;
  justify-content: center;
}
label {
  text-align: left;
  padding: 5px;
  font-weight: 700;
}
input {
  width: 250px;
  padding: 5px;
}
input[type="submit"] {
  width: 255px;
  padding: 10px;
  margin: 10px auto;
  background-color: #182ef1;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 5px 1px 15px 0.5px #000000;
  transition: all 1s ease;
}
input[type="submit"]:hover {
  background-color: #0d1454;
  box-shadow: none;
  transition: 2s ease;
  transform: translate(0, 2px);
}

/* Gift block */
.grid-container .box3 {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  text-align: center;
  padding: 30px;
  gap: 20px;
  margin-top: 30px;
}
.grid-container .box3 > div:hover {
  background-color: rgba(255, 255, 93, 0.742);
  border-radius: 10px;
  transition: all 1s ease;
}
.box3 img {
  width: 64px;
}

/* Our best employee */
.grid-container .box4 {
  text-align: center;
  justify-content: center;
  padding: 20px;
  background-color: #dedbd2;
}

.box4 img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid gray;
  margin: 40px auto 5px auto;
}
.line_grey {
  width: 200px;
  border: 3px solid grey;
  margin: 0 auto;
}
.box4 p {
  margin: 5px auto 10px auto;
}

/* Footer-links */
.grid-container .box5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-around;
  text-align: center;
}
.box5 a {
  text-decoration: none;
  display: block;
  padding: 10px;
  color: #000000;
  font-weight: 700;
}
.footer_links2,
.footer_links3,
.footer_links4,
.footer_links1 {
  border-right: 2px solid gray;
}
.footer_sm_text {
  grid-column: 1 / span 5;
}
.footer_link:hover {
  background-color: cornflowerblue;
}

@media screen and (max-width: 550px) {
  .footer_link {
    display: none;
    transition: all 1s ease;
  }
  .grid-container .box3 {
    grid-template-columns: 85%;
    transition: 1s ease;
    width: 85%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 551px) {
  .footer_sm_text {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .container_blue {
    grid-template-columns: 40% 35%;
  }
}
@media screen and (max-width: 900px) {
  .container_blue {
    height: 950px;
    grid-template-columns: 85%;
    transition: 1s ease;
  }
}
